* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #141414;
}

:root {
    font-size: .85vw;
    line-height: 1.2rem;
}

.banner {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-position: 50%;
    background-size: cover;
    z-index: -1;
}

.menu-navigation {
    background-color: transparent;
    position: sticky;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 20%, transparent);
    min-height: 70px;
    height: auto;
    font-size: 1.2rem;
    z-index: 1;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 0 4%;
    height: 68px;
}

.logo {
    max-width: 115px;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

li {
    margin-left: 1.125rem;
    list-style: none;
    cursor: pointer;

}

li a {
    text-decoration: none;
    color: #e5e5e5;
    font-weight: 500;
    transition: color .4s;

    &:hover {
        color: #b3b3b3;
    }
}

.nav-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    right: 4%;
    position: absolute;
}

.nav-buttons button {
    background: transparent;
    border: none;
    color: #fff;
    margin-left: 1.5rem;
    cursor: pointer;
    font-size: 1.9rem;
}

.profile-btn {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.banner {
    width: 100%;
}

.movie-title {
    bottom: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;
    position: absolute;
    top: 0;
    width: 36%;
}

.movie-title img {
    width: 100%;
}

.description {
    color: #fff;
    font-size: 1.2vw;
    margin-top: 2rem;
    font-weight: 400;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
    width: 90%;
}

.movie-buttons {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}

.play-btn {
    display: flex;
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
    padding: .8rem 2.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    gap: .8rem;

    &:hover {
        background-color: #ffffffbf;
    }
}

.info-btn {
    display: flex;
    background-color: #6d6d6eb3;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    padding: .8rem 2.5rem;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    gap: .8rem;

    &:hover {
        background-color: #6d6d6e66;
    }
}

.row-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
    background-size: 100% 100%;
    bottom: -1px;
    height: 14.7vw;
    top: auto;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 8;
    padding: 0 4%;
    gap: 1.5rem;
    overflow-x: visible;
    margin: 3vw 0;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.row-movies {
    display: grid;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;

}

/*

.row-movies{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    z-index: 1;
    flex-direction: row;
    width:;
}

.row-title{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.movie-cards{
    display: flex;
    flex-direction: row;
    position: relative;
}

.card{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    cursor: pointer;
    padding: 28.125% 0;
    border-radius: .2vw;
    transition: 250ms all;

    &:hover{
        transform: scale(1.3);
        z-index: 2;
        margin: 0 40px;
    }
}*/